<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
	<appSettings>
		<!-- 自定义参数 -->
		<add key="UserAgent" value="Mozilla/5.0 (Macintosh; Intel Mac OS X 10) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.6799.67 Safari/537.36 OPR/115.0.5158.94" />

		<!-- ChromeDriverのフルパス指定 -->
		<add key="ChromePath" value="D:\Application\Browser\Chromium\chrome.exe" />
		<!-- ChromeDriverのフルパス指定 -->
		<add key="DriverPath" value="D:\Application\Browser\Chromium" />

	</appSettings>
</configuration>
