<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<!-- 自定义参数 -->
		<add key="UserAgent" value="Mozilla/5.0 (Macintosh; Intel Mac OS X 10) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.6799.67 Safari/537.36 OPR/115.0.5158.94" />

		<!-- ChromeDriverのフルパス指定 -->
		<add key="ChromePath" value="D:\Application\Browser\Chromium\chrome.exe" />
		<!-- ChromeDriverのフルパス指定 -->
		<add key="DriverPath" value="D:\Application\Browser\Chromium" />

		<!-- DBの指定 db_file = ":memory:" -->
		<add key="DataPath" value="E:/Data/SQLite/market.db" />
		
		<!-- ログの指定 -->
		<!-- Debug: 0, Info: 1, Warn: 2, Error: 3, Fatal: 4 -->
		<add key="LogLevel" value="0" />
		<add key="LogPath" value="E:/Data/SQLite/market.log" />
		
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.5" newVersion="6.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
